.elasticsearch-container {
  width: 100%;

  .autoComplete_wrapper {
    width: calc(100% - 42px);
  }

  .elasticsearch-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  input[type="search"] {
    width: 100%;
    line-height: 42px;
    height: 42px;
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0 15px;
    outline: none;
  }

  button {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      background: none;
      border: 0;
    }

    img {
      width: 75%;
      height: 75%;
      object-fit: contain;
    }
  }

  .result-hit {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  a.hit {
    text-decoration: none;
    font-size: 16px;
    display: block;

    &.with-image {
      display: flex;

      .image {
        width: 200px;
        margin-right: 10px;
        figure {
          display: block;
          line-height: 1;
          margin: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &.icon {
        .image {
          width: 50px;
          margin-right: 10px;
        }

        .text {
          width: calc(100% - 60px);
        }
      }

      .text {
        width: calc(100% - 210px);
      }
    }

    .title {
      margin: 0 0 5px 0;
      line-height: 1.2;
    }

    .description {
      margin: 0;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  a {
    color: #333;
  }
}