.mod_elasticsearch {
  .elasticsearch-search-panel {
    width: 100%;
  }

  .elasticsearch-results-panel {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #f1f1f1;
  }

  .categories-results {
    width: calc(35% - 1px);
    padding-right: 2.5%;
    margin-right: 2.5%;
    border-right: 1px solid #f1f1f1;
  }

  .search-results {
    width: 62.5%;
  }

  .suggest-results {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;

    p {
      margin: 0;
      font-size: 16px;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0 0 10px 0;
      line-height: 1.2;
      padding: 0;
      list-style: none;

      &.active {
        text-decoration: underline;
      }
    }

    a {

      cursor: pointer;
      text-decoration: none;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .categories-headline {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;

    p {
      margin: 0;
      line-height: 1.2;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .result-category {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;

    p {
      margin: 0;
      line-height: 1.2;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .results-group {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a.hit {

    &:hover,
    &:focus {

      background: #f1f1f1;
    }
  }
}

.faq-rich-snippet {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  .faq-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
    .faq-answer {
      margin-top: 10px;
    }
    .faq-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      p {
        margin: 0;
        line-height: 1.1;
      }
      &:after {
        content: '';
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
      }
    }
    &.active {
      .faq-question {
        &:after {
          transform: rotate(-135deg);
        }
      }
    }
  }
}